.values {
    min-height: 50vh;
}

.values__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

}

.values__image {
    order: 1;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square__wrapper {
    display: grid;
    grid-template-areas: "stack";
    margin-right: 30px;

}

.square__back {
  grid-area: stack; /* Помещаем в общую зону */
  width: 250px;
  height: 300px;
  background-color: var(--footer-bg);
}

.square__photo {
    grid-area: stack; 
    width: 250px;
    height: 300px;
    object-fit: cover;
    
    /* Эффект сдвига*/
    transform: translate(40px, -40px);
}

.values__content {
    order: 0;
    position: relative;
    background-image: url('/static/images/тень-оливка.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 500px auto;
    min-height: 400px; 
}

.values__inner {
    padding: 100px 50px 0 20px;
}

.values__inner h1 {
    font-family: 'Jun';
    font-size: 2.5rem;
    font-weight: 700;
    color: #1a1a1a;
    position: relative;
    display: inline-block;
}

.values__inner h1::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60vw;                  /* Длина линии */
    height: 1px;
    background-color: var(--text-color);
    border-radius: 2px;
}

.values__inner h4 {
    font-family: 'Jun';
    padding-top: 30px;
}

@media (min-width: 992px) {
    .values__grid {
        grid-template-columns: 1fr 1fr;
    }

    .values__image {
        order: 0;
    }

    .values__content{
        order: 1;
    }

    .square__wrapper {
        margin-right: 150px;
    }


}

