@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/GoodVibesCyr.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;

}

@font-face {
    font-family: "Jun";
    src: url('/static/fonts/Jun/Jun_Regular.otf');
}


@font-face {
    font-family: 'Denistina';
    src: url('/static/fonts/denistina/denistina_en.ttf');

}