.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

}

.header_inner {
     border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    margin: 0 auto;
    gap: 30px;
}

.header_logo {
    flex-shrink: 0;
}

.header__nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.header__nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__nav-item--folder {
    position: relative;
}

.header__nav-link {
    text-decoration: none;
}

