/*  Сброс стилей и базовые настройки    */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin; /* Тонкая дорожка */
    scrollbar-color: transparent transparent; /* Цвет дорожки и бегунка */
}

/* Базовые настройки html */
html {
    font-size: 16px; /* Базовый размер шрифта */
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.main-content {
    flex: 1 0 auto;
}

