{% load static %}
<section class="values" id="values_section">
    <div class="values_container" >
        <div class="values__grid">

            <div class="values__image">

                <div class="square__wrapper">
                    <div class="square__back"></div>

                    <img src="static/images/photo.jpg" alt="Фото" class="square__photo">
                </div>
            </div>

            <div class="values__content">
                <div class="values__inner">
                    <h1>Юрист</h1>
                    <h4>«Объясняю сложные законы простым языком, чтобы вы чувствовали себя уверенно и защищённо»</h4>
                </div>

            </div>
            
        </div>
    </div>

</section>