<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Юридический сайт</title>
</head>
<body>
    
    <!-- ШАПКА -->
    <header>
        <h1>ЮристПро</h1>
        <nav>
            <a href="/">Главная</a>
            <a href="#">Документы</a>
            <a href="#">Клиенты</a>
            <a href="#">Контакты</a>
        </nav>
        <hr>
    </header>
    
  
    {% block content %}
    {% endblock %}
    
    <!-- ПОДВАЛ -->
    <footer>
        <hr>
        <p>&copy; 2026 Ю</p>
    </footer>
    
</body>
</html>